body {
  background-color: #f2f2f2; /* Серый фон */
  color: #333; /* Черный текст */
}

h1, h2, h3, h4, h5, h6 {
  color: #333; 
}
.list-my{
  font-size: 14px;
}
a {
  color: #000; 
  text-decoration: none;
  border-radius: 10px;
}

a:hover {
  color: #fff; /* Белый цвет ссылок при наведении */
  background-color: #000; /* Черный фон при наведении */
  border-radius: 10px;
}

.room-list li {
  background-color: #fff; /* Белый фон для каждого элемента списка */
  border: 1px solid #ccc; /* Серая рамка для каждого элемента списка */
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
}

.room-list li:hover {
  background-color: #f2f2f2; /* Серый фон для элемента списка при наведении */
  border-radius: 10px;
}

.room-list li img {
  max-width: 100%;
}

/* Стиль для шапки */
header {
  background-color: #fff; /* Белый фон для шапки */
  border-bottom: 1px solid #ccc; /* Серая линия внизу шапки */
  padding: 10px;
}

header h1 {
  margin: 0;
}

header nav {
  float: right;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav li {
  display: inline-block;
  margin-left: 10px;
}

/* Стиль для подвала */
footer {
  background-color: #fff; /* Белый фон для подвала */
  border-left: 2px solid #ccc;
  padding: 10px;
  text-align: center;
}
