body {
  background-color: #f2f2f2; 
  color: #333; 
}

h1, h2, h3, h4, h5, h6 {
  color: #333; 
}
li {
    font-size: 14pt; 
}
a {
  color: #000; 
  text-decoration: none;
  background-color: #fff; 
  border-radius: 5px;
}

a:hover {
  color: #fff; 
  background-color: #000; 
  border-radius: 5px;
}
.floating-button {
         text-decoration: none;
         outline: none;
         display: inline-block;
         width: 140px;
         height: 45px;
         line-height: 45px;
         border-radius: 45px;
         margin: 10px 20px;
         font-family: 'Montserrat', sans-serif;
         font-size: 11px;
         text-transform: uppercase;
         letter-spacing: 3px;
         font-weight: 600;
         color: #524f4e;
         background: white;
         box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
         transition: .3s;
      }

      .floating-button:hover {
         background: #2EE59D;
         box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
         color: #fff;
         transform: translateY(-7px);
      }
.room-list li {
  background-color: #fff; 
  border: 1px solid #ccc; 
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
}

.room-list li:hover {
  background-color: #f2f2f2;
  border-radius: 10px;
}

.room-list li img {
  max-width: 100%;
}

/* Стиль для шапки */
header {
  background-color: #fff; 
  border-bottom: 1px solid #ccc; 
  padding: 10px;
}

header h1 {
  margin: 0;
}

header nav {
  float: right;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav li {
  display: inline-block;
  margin-left: 10px;
}
footer {
  background-color: #fff;
  border-left: 2px solid #ccc;
  padding: 10px;
  text-align: center;
}
