body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #000;
  background-color: #f8f8f8;
}

* {
  box-sizing: border-box;
}

.modal-window .modal-window-links a {
    display: inline-block;
    font-size: 15px;
    color: #444;
    border-bottom-color: #444;
}
.modal-window .modal-window-links span {
    position: relative;
    top: 4px;
    display: inline-block;
    width: 1px;
    height: 14px;
    background-color: #c5c5c5;
    margin: 0 10px 0 11px;
}
a.dotted-link {
    color: #259f47;
    border-bottom: 1px dotted #259f47;
}
.form {
  max-width: 320px;
  padding: 15px;
  margin: 20px auto;
  background-color: #fff;
}

.input {
  display: block;
  width: 100%;
  padding: 8px 10px;
  margin-bottom: 10px;
  
  border: 1px solid #ccc;
  
  font-family: inherit;
  font-size: 16px;
}

.btn {
  display: block;
  width: 100%;
  padding: 8px 10px;
  
  border: 0;
  background-color: #1cbc11;
  cursor: pointer;
  
  font-family: inherit;
  font-size: 16px;
  color: #fff;
}

.btn:hover {
  background-color: #14a20a;
}
